body {
    background: #00db96;
    text-align: center;
    font-family: 'Avenir Next', Verdana;
    font-weight: bold;
}

canvas {
    border: 10px solid #49297e;
    margin-top: 2em;
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    font-size: 3em;
    margin-top: -0.5em;
}

.fade {
  /*opacity: 0.2;*/
  top: 83%;
  left: 28%;
  transform: translate(0, 0);
}

#start-game {
  margin-top: 200px;
}

#start-game img {
  width: 400px;
}

#start-game .counter {
  font-size: 100px;
}