body {
  background: #d683c9;
  text-align: center;
  font-family: 'Avenir Next', Verdana;
  font-weight: bold;
}

canvas {
  border: 10px solid #49297e;
  margin-top: 2em;
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
}

h2 {
  font-size: 3em;
  margin-top: -0.5em;
}

h2 img {
  transform: translateY(10px);
}

.fade {
  /*opacity: 0.2;*/
  top: 83%;
  left: 28%;
  transform: translate(0, 0);
}

#start-game,
#restart-game {
  margin-top: 200px;
}

#start-game button,
#restart-game button {
  background-color: black;
  padding: 1em;
  border: none;
}

#start-game img,
#restart-game img {
  width: 400px;
}

#start-game .counter {
  font-size: 100px;
}

@media (max-width: 576px) {
  canvas {
    width: 310px;
  }

  h1 {
    font-size: 1em;
    margin-top: 0.5em;
  }

  h2 {
    font-size: 2em;
    margin-top: -0.5em;
  }

  #start-game img,
  #restart-game img {
    width: 310px;
  }
}